/* Header section */
header {
    background-color: #0f4c81;
    color: #fff;
    padding: 20px
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
}








.showcase-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
  }
  
  .showcase-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  .showcase-item {
    width: calc(25% - 20px);
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    margin: 0 5px;
  }
  
  .showcase-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16);
  }
  
  .showcase-item {
    margin-bottom: 30px;
}
    
    .showcase-item img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
    }
    
    .showcase-item h2 {
    color: #263F6B;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    }
    
    .showcase-item p {
    color: #6C757D;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    }
    
    .showcase-item button {
    background-color: #38B6FF;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    }
    
    .showcase-item button:hover {
    background-color: #263F6B;
    transform: translateY(-2px);
    }  